                        /*BODY*/
body{
    margin: 0;
   
}



                        /*CONTAINER*/

.container{
    max-width: 1200px;
    margin: auto;

    
}


.engg{
    margin-top: 10px;
}
                        /*HEADER*/

.logo{
margin-left: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
}



.header{
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);

    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__holder{
    
}

/*HEADER_NAV_LINE*/

.nav__items{
margin-right: 30px;
   
}

.nav__item{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 40px;
    font-size: 16px;
    padding-bottom: 23px;
    transition: all .1s;
    position: relative;
}

.header__line{
    
}
.nav__itemm:after{
   
    content: "";
    opacity: 0;
    width: 1%;
    height: 3px;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    transition: opacity .1s linear, width .2s linear,color .1s linear;
    z-index: 100;
    border-radius: 20px;
}

.nav__item:hover:after{
    opacity: 1;
    width: 100%;
}

.nav__item:hover{
    color:lightgray; 
}

.header__line{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 25px ;
}


/*HEADER TITLE*/

.header__down{
   display: flex;
    flex-direction: column;
    height: 700px;
    padding-top: 15px;
}


.header__title{
    text-align: center;
    color:white;
    font-size: 54px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}



.header__title2{
    text-align: center;
    margin-top: 23px;
    color: white;
    font-size: 49px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}


.header__suptitle{
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}



                    /*HEADER BUTTON*/
.header__btn{
   
    border: 3px solid white;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    background: white;
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear,box-shadow.2s linear,font-size .2s linear;
}

.par_btn{
     color: rgb(30,200,255);
    background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.header__button{
    display:flex;
    justify-content: center;
    
}


.header__btn:hover{
    
    padding-left: 52px ;
    padding-right: 52px ;
    color:white;
    
    
   
}



                    /*ABOUT*/

.about{
  background: white;

}



.about__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 57px;
    text-align: center;
    padding-top: 160px;
   color: black;
}

.about__subtitle{
    padding-bottom:  12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    padding-top: 24px;
    color: rgb(30,200,255);
background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.about__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: 60px;
    text-align: center;
}
.about__paragraph2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: 10px;
}


                        /*ABOUT CARDS*/

.cards{
    display: flex;
    padding-bottom: 120px;
}

.cards p{
    color: black;
    
}



.cards__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.cards__title h1{
    
}

.cards__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align:left;
    color: #999;
    
    
}


.card__items img{
    width: 36%;
    height: 30%;
    
}

card_circle{
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-right: 60px;
    
    background: blue;
    padding: 4px;
    margin:;
    border-radius: 100%;
    width: 100%;
}


.circle_paragraph, invest_par{
    margin-top: 18px;
    margin-left: 20px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
}
.card__items{
    display: flex;
    margin-right:4%;
    align-content: center;
    
}

.cards__text{
    margin-top: 60px;
    margin-left: 18px;
}


.span_about{
color: rgb(30,200,255);
background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
   -webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
   
}

.about__cards__title p{
color: rgb(30,200,255);
background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.cards{
    padding-top: 122px;
    margin: auto;
    display: flex;
    
}

.card{
    margin-left: 35px;
    
}


.circle_paragraph{
/*
    color: rgb(30,200,255);
background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
*/
    
}

                        /*CARDS BUTTON*/
.cards__button button{
    border: 0;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    background: #4985FF;
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear;
}

.cards__button{
    margin-bottom: 120px;
    margin-top: 100px;
    display:flex;
    justify-content: center;
}

.cards__button button:hover{
    background: #2d72fc;
    padding-left: 60px ;
    padding-right: 60px ;
}





                /*DEVELOPMENT SECTION*/



.text__blockleft{
    margin-right: 131px;
}

.text__blockleft h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.text__blockleft p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    margin-bottom: 10px;
}


.text__blockleft a{
    color: #4985FF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px #4985FF solid;
    padding: 0;
    transition: color .1s linear,border .1s linear;
    
}
.text__blockleft a:hover{
    color: rebeccapurple;
    border-bottom: 1px rebeccapurple solid;
}

.border__holder{
    padding-bottom: 70px;
    
    display: flex;
    
    padding-top: 150px;
}

.development{
background: white;
}


.image__blockright {
    margin-top: -69px;
}

#more {display: none;}

#develop_button{
    
    
}

                /*MINI CARDS */





.mini__cards img{
    
    
    margin-left: 50px;
}


.cards__num{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 20px;
}




.mini__card{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    
}



.number__image{
    display: flex;
    
}


.mini__cards{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}



.mini__image{
    width: 100%;
    height: 32%;
}

.card_paragraph{
    display: flex;
    margin-left: -105px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}






                    /*SPECIALIZATIONS*/
/*
.our__specaliziations{
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%),
    linear-gradient(0deg, #C4C4C4, #C4C4C4);

}

.spec__up{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0;
}

.spec__title{
   font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-right:200px;
    white-space: nowrap;
    
    
}

.spec__button{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 10;
    
}
.spec__btn{
    
}


BTN

.spec__btn{
   border: 0;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;
    background: #4985FF;
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear;
    margin:;
}

.spec__btn:hover{
    background: #2d72fc;
    padding: 15px 60px 15px 60px;
    left: 100px;
     
}



.spec__button{
    
   
    white-space: nowrap;
    
}
*/

            /*PROGRESS BAR */


.progress-bar{
    
    width: 900px;
    height: 30px;
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 28%, rgba(244,0,255,1) 40%, rgba(251,170,255,1) 55%, rgba(255,255,255,1) 58%);
    
}



.mini__cards p{
    margin-top: 5px;
    font-size: 20px;
     font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}






.image__blockright img{
    width: 450px;
    height: 450px;
    border-radius: 42px;
}


/*p2e*/

.about_p2e{
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    display: flex;
    justify-content: space-around;
}
.p2e_title{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.p2e_paragraph_holder{
      display: flex;
    flex-direction: row-reverse;
    width: 600px;
}


.paragraph_p2e{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/*SPONSORS*/

.sponsors{
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
   
    height: 160px;
}

.sponsors_title{
padding-top: 15px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.sponsors_cards img{
    width 70px;
    height: 70px;
}


.sponsors_cards{
    display: flex;
    justify-content: center;
}


.img_sponsors{
    padding-top: 10px;
    margin-right: 100px;
}


/*Cards invest*/


.cards_invest{
    padding-top: 122px;
    margin: auto;
    
}

.card_invest{
    margin-left: 35px;
    
}


.invest_par{
    margin-top: 18px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    display: flex;
    flex-direction: column;
    align-items:center;
}



.galochka{
    width: 30px;
    height: 20px;
}


.invest__btn{
   margin-top: 0px;
    border: 3px solid white;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear,box-shadow.2s linear,font-size .2s linear;
}

.par_btn_invest{
     color: white;
}



.invest__button{
    display:flex;
    justify-content: center;
    
}


.invest__btn:hover{
    
    padding-left: 52px ;
    padding-right: 52px ;
    color:white;
    
    
   
}



.about__title_invest{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 57px;
    text-align: center;
    padding-top: 90px;
   color: black;
}

.about__subtitle{
    padding-bottom:  12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    padding-top: 24px;
    color: rgb(30,200,255);
background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.about__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: 10px;
    text-align: center;
}
.about__paragraph2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: 10px;
}






/*FAKE PAY*/

.ppay{
    display: flex;
    justify-content: center;
    background: white;
    width: 600px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
    padding-top: 50px;
}



.button-cont{
    display: flex;
    justify-content: center;
}

.pargen{
     color: rgb(30,200,255);
    background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#button1{
    margin-top: 50px;
     border: 3px solid white;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    background: white;
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear,box-shadow.2s linear,font-size .2s linear;
    
}

#button1:hover{
    
    padding-left: 52px ;
    padding-right: 52px ;
    color:white;
    
    
   
}

#hider,#hidden2{
font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 57px;
    text-align: center;
    padding-top: 30px;
   color: white;
}
#hider,#hidden{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    padding-top: 30px;
   color: white;
}

#button_hide{
    padding-bottom: 0px;
   display: flex;
    justify-content: center;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload{
    display: flex;
    justify-content: center;
}

.about_pay{
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    padding-bottom: 200px;
}






.about__title_invest{
    color: white;
    padding-bottom: 50px;
}

.input_holder{
  margin-left: 43%;
   margin-top: 100px;
}


.input_summ_pay{
    margin-top: 50px;
  
}

.input_summ{
    width: 100%;
}


.form__group{
    margin-top: 50px;
    
}
.form__group1{
    margin-top: 20px;
    padding-bottom: 40px;
}

.form__label {
    outline:none;
color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-left: 6rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
    outline:none;
   background: white;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.9rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}



.header__btn1{
   
    border: 3px solid white;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    background: white;
    padding: 15px 43px;
    border-radius: 30px;
    transition: background .2s linear,color .2s linear,padding .2s linear,box-shadow.2s linear,font-size .2s linear;
}

.par_btn1{
     color: rgb(30,200,255);
    background-image: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.important{
    color: red;
}

#generating{
    padding-top: 35%;
    padding-left: 36%;
}

#generating img{
    width: 100px;
    height: 100px;
}


#hider{
    color: white;
}

.header__button1{
    display:flex;
    justify-content: center;
    
}

#hidden{
    color: white;
}

.pay2{
display: flex;
    justify-content: center;
}
.pay__holder{
    visibility: hidden;
}
#hidden{
    padding-left: 30px;
    padding-right: 35px;
}

.brcards{
    visibility: hidden;
}

.hidden-div{
    background:white;
    width: 500px;
    height: 450px;
    border-radius: 15px;
}

.title-hidden{
    padding-top: 50px;
    padding-left: 30px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.shown{
    
     font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    word-break: break-all;
}

#shown2{
    padding-top: 30px;
}

#important_div{
    padding-top: 35%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    
}

.divforshow{
    justify-content: center;
    padding-top: 3%;
    padding-left: 30px;
}
.show-title{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.supported__by{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding-top: 140px;
    margin-bottom: 0px;
    flex-direction: row;
}

.support_h1{
    margin-top: 1%;
    color: white;
     margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.support__img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
/*LOW WIDTH DEVICES DIV*/

.low_width_div{
text-align: center;
    color:white;
    font-size: 54px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.low_width{
    background: rgb(30,200,255);
background: linear-gradient(90deg, rgba(30,200,255,1) 4%, rgba(0,228,255,1) 19%, rgba(244,0,255,1) 57%, rgba(244,0,255,1) 73%, rgba(244,0,255,1) 85%);
    padding-bottom: 200px;
}

@media(max-width: 600px){
    
    #generating img{
        width: 80px;
        height: 80px;
    }
    

    .support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 0;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.support__img{
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
    .text__blockleft{
        font-size: 20px;
    }
    .border__holder{
        padding-top: 10px;
    }
    .about__title{
        font-size: 35px;
    }
    .about__subtitle{
        font-size: 33px;
    }
    #develop_button{
        font-size: 20px;
    }
    .cards{
        padding-bottom: 0px;
    }
    .border__holder{
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .about__title_invest{
        font-size: 40px;
    }
    #hider,#hidden2{
font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    padding-top: 30px;
   color: white;
}
#hider{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    padding-top: 30px;
   color: white;
    
}
    
    .about__title_invest{
        word-break: break-all;
        overflow: hidden;
    }
    
    #hidden{
        word-break: break-all;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
   color: white;
    }
    .cards{
    
    padding-bottom: 0px;
}
    .card{
        margin-left: 0px;
    }
     .header__title{
            font-size: 31px;
    }
        
    .header__suptitle{
        font-size: 13px;
    }
    
    .header__title2{
            font-size: 31px;
    }
    .header__btn{
        padding: 10px 20px;
        border-radius: 19px;
    }
    .cards-paragraph{
        text-align: center;
        font-size: 19px;
    }
    .about__cards__title p{
        font-size: 26px;
    }
    
    .logo{
        display: none;
    }
    
    
    .hidden-div{
    background:white;
    width: 400px;
    height: 350px;
    border-radius: 15px;
}

    #support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    #generatinga img{
        width: 350px;
    }
#support__img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

 #important_div{
    padding-top: 5%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    
    }  
    
    .header{
        height: 700px;
    }    
}



@media(max-width: 1000px){
    .supported__by{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding-top: 100px;
    margin-bottom: 0px;
    flex-direction: row;
}
    #hider,#hidden2{
font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
   color: white;
}
#hider{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    padding-top: 30px;
   color: white;
    }
    .about__title_invest{
        font-size: 43px;
    }
     .about__title{
        font-size: 44px;
    }
    .about__subtitle{
        font-size: 44px;
    }
    .header__title{
            font-size: 41px;
    }
        
    .header__suptitle{
        font-size: 16px;
    }
    
    .header__title2{
            font-size: 41px;
    }
     .about__title_invest{
        word-break: break-all;
        overflow: hidden;
    }
    
    
    .cards{
        padding-bottom: 0px;
    padding-top: 52px;
    margin: auto;
    display: flex;
        justify-content: center;
      flex-direction: column;
        align-content: center;
}
    .cards__paragraph{
        text-align: center;
        font-size: 25px;
    }
    
    .card_circle{
        display: none;
        
    }
    .card_items{
     display: flex;
    justify-content: center;
        align-items: center;
    }
    .cards__title{
    display: flex;
        justify-content: center;
    }
    .about__cards__title{
    font-size: 30px;
    }
    .our__specaliziations{
        display: none;
    }
    .image__blockright{
        display: none;
    }
    
    .text__blockleft{
    margin-right: 0px;
     text-align: center;
    
    }
    .text__blockleft p{
        font-size: 24px;
    }
    .text__blockleft h2{
        font-size: 39px;
    }
    
}

@media screen and (max-height: 640px){
    
   
}


@media screen and (max-height: 550px){
    
}


@media screen and (max-height: 760px){
   
}
    
@media screen and (max-height: 700px){
   



}

.nav__items2{
    visibility: hidden;
}


@media(max-width: 520px){
     .support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 76px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    .supported__by{
        margin-right: 11px;
    }
    
.support__img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
}
    



@media(max-width:480px){
    
     #generating img{
        width: 60px;
        height: 60px;
         padding-left: 10px;
    }
    #generatingg img{
        width: 320px;
    }
    #generating{
        align-content: center;
        
       align-items: center;
    }
    .hidden-div{
    background:white;
    width: 350px;
    height: 300px;
    border-radius: 15px;
}
    
}

@media(max-width: 300px){
    .header__down{
        padding-top: 0px;
    }
    
    .supported__by{
        margin-top: 0px;
        padding-top: 115px;
    }
    .nav__items2{
        padding-left: 0px;
    
}

     .about__title_invest{
        font-size: 32px;
    }
    .about__title{
        font-size: 32px;
    }
    .about__subtitle{
        padding-top: 5px;
        font-size: 32px;
    }
     .header__title{
            font-size: 31px;
         padding-bottom: 0px;
    }
        
    .header__suptitle{
        font-size: 13px;
    }
    
    .header__title2{
            font-size: 31px;
        margin-top: 3px;
    }
    .about__title_invest{
        font-size 3px;
    }
    .about__cards__title p{
        font-size 19px;
    }
    .text__blockleft h2{
        font-size: 27px;
    }
    .text__blockleft p{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header__btn{
        font-size: 15px;
        padding: 10px 15px;
    }
    
    .cards-paragraph{
        font-size: 17px;
    }
}

@media(max-width:500px){
    
    
}

@media(max-width: 300px){
  
    .about__title_invest{
        font-size: 32px;
    }
    .about__title{
        font-size: 32px;
    }
    .about__subtitle{
        padding-top: 5px;
        font-size: 32px;
    }
     .header__title{
            font-size: 31px;
         padding-bottom: 0px;
    }
        
    .header__suptitle{
        font-size: 13px;
    }
    
    .header__title2{
            font-size: 31px;
        margin-top: 3px;
    }
    .about__title_invest{
        font-size 3px;
    }
    .about__cards__title p{
        font-size 19px;
    }
    .text__blockleft h2{
        font-size: 27px;
    }
    .text__blockleft p{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header__btn{
        font-size: 15px;
        padding: 10px 15px;
    }
    
    .cards-paragraph{
        font-size: 17px;
    }
    
    .header__down{
        padding-top: 40px;
    }
    .supported__by{
    
    padding-top: 171px;
    
} 
    .header{
        height: 650px;
    }
    
}

@media(max-width: 299px){
    
   
}



@media(max-width: 210px){
    .header{
        height: 550px;
    }
    .about__title_invest{
        font-size: 25px;
    }
    .about__title{
        font-size: 25px;
    }
    .about__subtitle{
        padding-top: 5px;
        font-size: 25px;
    }
     .header__title{
            font-size: 25px;
         padding-bottom: 0px;
    }
        
    .header__suptitle{
        font-size: 13px;
    }
    
    .header__title2{
            font-size: 31px;
        margin-top: 3px;
    }
    .about__title_invest{
        font-size 3px;
    }
    .about__cards__title p{
        font-size 19px;
    }
    .text__blockleft h2{
        font-size: 27px;
    }
    .text__blockleft p{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header__btn{
        font-size: 15px;
        padding: 10px 15px;
    }
    
    .cards-paragraph{
        font-size: 17px;
    }
    
    
}



.hidden-div{
    margin-left: 10px;
    padding-right: 18px;
}

@media(max-width: 430px){
    .supported__by{
        padding-top: 40px;
    }
   
    
    
    
    
    .hidden-div{
    background:white;
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
    
    #shown2{
    padding-top: 10px;
}
     #support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    #generatinjg img{
        width: 250px;
    }


 #important_div{
    padding-top: -10%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    
    }   
    }




@media(max-width: 380px){
    #generating img{
        width: 55px;
        height: 55px;
         padding-left: 0px;
    }
    .title-hidden{
        font-size: 20px;
    }
    .hidden-div{
    background:white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
    
    #shown2{
    padding-top: 10px;
}
     #support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    #generathing img{
        width: 250px;
    }
    .show-title{
        margin-bottom: 20px;
    }

    #shown2{
        padding-top:30px; 
    }
    
 #important_div{
    padding-top: -10%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    
    }   
    #generatingg img{
        width: 220px;
    }
    }


@media(max-width: 320px){
    .supported__by{
            margin-top: 0px;
    }
    #generating img{
        width: 45px;
        height: 45px;
         margin-right: 50px;
    }
    #generating{
        margin-right: 50px;
    }
    .hidden-div{
    background:white;
    width: 200px;
    height: 270px;
    border-radius: 15px;
}
    
    #shown2{
    padding-top: 10px;
}
    
    #generatinsg img{
        width: 250px;
    }
    .show-title{
        margin-bottom: 20px;
    }

    #shown2{
        padding-top:30px; 
    }
    
 #important_div{
    padding-top: -10%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    
    }  
    #generatingg img{
        padding-top: 40%;
        width: 160px;
    }
    
    
    }

@media(max-width: 250px){
    #generating img{
        width: 45px;
        height: 40px;
        padding-left: 0px;
        
    }
    .divforshow{
        padding-left: 15px;
    }
.title-hidden{
    padding-top: 20px;
        font-size: 20px;
    }
    .hidden-div{
    background:white;
    width: 160px;
    height: 270px;
    border-radius: 15px;
}
    
    .show-title{
        font-size: 20px;
    }
    
    #shown2{
    padding-top: 10px;
}
   
    #generatinogs img{
        width: 250px;
    }
    .show-title{
        margin-bottom: 20px;
    }

    #shown2{
        padding-top:30px; 
    }
    
 #important_div{
    padding-top: -10%;
    padding-left: 0px;
     font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    
    }   
    
    #generatingg img{
        width: 130px;
        height: 230px;
    }
    }


@media(max-width: 270px){
    .support__img{
    width: 20px;
        height: 20px;
    }
      .support_h1{
    margin-top: 17px;
    color: white;
     margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
}


@media(max-width: 210px){
    .supported__by{
        display: none;
    }
    .header__down{
        padding-bottom: 100px;
    }
}